.alert {
	/* position: fixed;
	left: calc(50vw - var(--popup-width) / 2);
	bottom: var(--padding);
	width: var(--popup-width); */
	width: 100%;
	padding: var(--padding);
	text-align: center;
	background: #ff3f3f;
	color: white;
	border-radius: var(--padding);
}

.alert>input[value='OK'] {
	border: none;
	background: inherit;
	color: white;
	text-decoration: underline;
	cursor: pointer;
}