#alerts-list {
	position: fixed;
	left: calc(50vw - var(--alert-width) / 2);
	bottom: var(--padding);
	width: var(--alert-width);
}

#alerts-list>li:not(:last-child) {
	margin-bottom: var(--padding);
}