/* Minimum accessible font size guideline: 16px */

:root {
	--padding: 8px;
	--small-font-size: 16px;
	--medium-font-size: 24px;
	--large-font-size: 36px;
	--id-password-width: 200px;
	--content-panel-width: 600px;
	--nav-panel-width: 300px;

	--total-app-width: calc(
		var(--content-panel-width) + var(--nav-panel-width)
	);

	--nav-panel-offset: calc(
		50vw - var(--total-app-width) / 2
	);

	--content-panel-offset: calc(
		var(--nav-panel-offset) + var(--nav-panel-width)
	);

	--post-input-height: 100px;
	--header-height: 58px;
}

* {
	margin: 0px;
	padding: 0px;
	font-size: var(--small-font-size);
	font-family: Arial;
	list-style: none;
	background: white;
}

#nav-panel {
	position: fixed;
	top: 0px;
	left: 0px;
	transform: translate(var(--nav-panel-offset), 0);
	width: var(--nav-panel-width);
}

#nav-header,
#content-header {
	padding-top: var(--padding);
	padding-bottom: var(--padding);
	font-size: var(--large-font-size);
}

#nav-panel>ol>li>a {
	display: block;
	padding-top: var(--padding);
	padding-bottom: var(--padding);
	font-size: var(--medium-font-size);
}

#content-header{
	position: fixed;
	width: var(--content-panel-width);
	top: 0px;
	left: 0px;
	transform: translate(var(--content-panel-offset), 0);
	z-index: 1;
}

#content-panel{
	position: absolute;
	width: var(--content-panel-width);
	top: 0px;
	left: 0px;
	transform: translate(var(--content-panel-offset), 0);
	padding-top: var(--header-height);
}

/* Editor.js */

#post-form {
	margin: auto;
	width: var(--content-panel-width);
}


#post-input {
	margin-top: var(--padding);
	margin-bottom: var(--padding);
	box-sizing: border-box;
	width: 100%;
	height: var(--post-input-height);
	padding: var(--padding);
}


input[value='Post'] {
	display: block;
	margin-top: var(--padding);
	margin-bottom: var(--padding);
	margin-left: auto;
	margin-right: 0;
	padding: var(--padding);
}

.error-message {
	padding: var(--padding);
	text-align: center;
}

/* Search.js */

#search-form {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#search-input {
	flex-grow: 1;
	padding: var(--padding);
}

input[value='Search'] {
	flex-grow: 0;
	padding: var(--padding);
}