/* Minimum accessible font size guideline: 16px */

:root {
	--padding: 8px;
	--small-font-size: 16px;
	--medium-font-size: 24px;
	--large-font-size: 36px;
	--id-password-width: 200px;
	--content-panel-width: 900px;
	--nav-panel-width: 300px;
	--post-input-height: 100px;
	--hide-reply-bar-width: 16px;
}

* {
	margin: 0px;
	padding: 0px;
	font-size: var(--small-font-size);
	font-family: Arial;
	list-style: none;
	background: white;
	box-sizing: border-box;
	overflow: hidden;
}

html,
body {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
}

#content-panel {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: var(--content-panel-width);
	height: 100%;
}

#content-body {
	/* padding-bottom: var(--padding); */
	/* padding-top: var(--padding); */
	margin-top: var(--padding);
}

#content-body>* {
	padding-right: var(--padding);
}

.hoverable:hover {
	text-decoration: underline;
	cursor: pointer;
}

.error-message {
	padding: var(--padding);
	text-align: center;
}