header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
}

#nav-header {
	width: var(--nav-panel-width);
	box-sizing: border-box;
	padding: var(--padding);
	font-size: var(--large-font-size);
}

#content-header {
	width: var(--content-panel-width);
	box-sizing: border-box;
	padding: var(--padding);
	font-size: var(--large-font-size);
}