#home-div{
	height: 100vw;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

#home-div>#content-header{
	flex-grow: 0;
	flex-shrink: 0;
}

#home-div>#posts-list{
	height: 100%;
	overflow: auto;
}