#nav-panel {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	width: var(--nav-panel-width);
}

#nav-header {
	padding-top: var(--padding);
	/* padding-bottom: var(--padding); */
	font-size: var(--large-font-size);
}

#nav-panel>ol>li>a {
	display: block;
	padding-top: var(--padding);
	/* padding-bottom: var(--padding); */
	font-size: var(--medium-font-size);
}
