.post-div {
	margin: auto;
	box-sizing: border-box;
	padding: var(--padding);
	border: 1px solid;
}

.username-link {
	display: inline-block;
	padding-bottom: var(--padding);
	padding-right: var(--padding);
	font-weight: bold;
}

.time-posted-div {
	display: inline-block;
	padding-bottom: var(--padding);
	font-style: italic;
}