.post-div {
	border: 1px solid;
	padding: var(--padding);
}

.username-link {
	display: inline-block;
	padding-right: var(--padding);
	font-weight: bold;
}

.time-posted-div {
	display: inline-block;
	font-style: italic;
}

.body-div {
	padding-top: var(--padding);
}

.post-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.post-footer>input {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	border: none;
	padding-top: var(--padding);
	text-align: left;
	/* background: none; */
}

.replies-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-top: var(--padding);
}

.hide-replies-bar {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	width: var(--hide-reply-bar-width);
}

.hide-replies-bar:hover {
	background: #bfbfbf;
	cursor: pointer;
}

.replies-div>.posts-list {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}