/* .post-li:not(:last-child) {
	padding-bottom: var(--padding);
} */

/* .posts-list {
	margin-top: var(--padding);
} */

/* .post-li {
	padding-bottom: var(--padding);
} */

.post-li:not(:first-child) {
	padding-top: var(--padding);
}

/* .post-li {
	padding-top: var(--padding);
}

.post-li:last-child {
	padding-bottom: var(--padding);
} */