.post-div {
	margin: auto;
	box-sizing: border-box;
	padding: var(--padding);
	border: 1px solid;
}

.username-link {
	display: inline-block;
	padding-bottom: var(--padding);
	padding-right: var(--padding);
	font-weight: bold;
}

.time-posted-div {
	display: inline-block;
	padding-bottom: var(--padding);
	font-style: italic;
}

.body-div {
	padding-bottom: var(--padding);
}

/* input[value='Reply']{
	border: none;
} */

/* input[value='Reply']:hover{
	cursor: pointer;
	text-decoration: underline;
} */

.post-footer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.post-footer>input{
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	border: none;
	text-align: left;
}

/* .reply-button {
	border: none;
} */

/* .reply-button:hover {
	cursor: pointer;
	text-decoration: underline;
} */