#profile-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

#profile-header-username {
	flex-grow: 1;
	font-size: var(--large-font-size);
}

#follow-button {
	flex-grow: 0;
	padding: var(--padding);
}