#register-progress-nav {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
}

#register-progress-nav>ol>li {
	float: left;
	padding: var(--padding);
	background: #bfdfff;
	list-style-position: inside;
	list-style-type: decimal;
}

/* #register-progress-nav>ol>li>a {
	display: inline-block;
	padding: var(--padding);
	background: #bfdfff;
} */

#register-progress-nav>ol>.active {
	background: #dfffdf;
}

#register-progress-nav>ol>li>a {
	background: inherit;
}

label[for='email-input'],
label[for='username-input'],
label[for='password-input'],
label[for='retype-password-input'] {
	display: block;
	padding-bottom: var(--padding);
	font-size: var(--medium-font-size);
}

#email-input,
#username-input,
#password-input,
#retype-password-input {
	display: block;
	margin-bottom: var(--padding);
	width: var(--id-password-width);
	padding: var(--padding);
}

.validations {
	padding-bottom: var(--padding);
}

.register-nav>* {
	display: inline;
	padding-left: var(--padding);
	padding-right: var(--padding);
}

.register-nav>:first-child {
	padding-left: 0px;
}

.register-nav>:not(:last-child) {
	border-right: 2px solid gray;
}

.register-nav>:last-child {
	padding-right: 0px;
}

input[value='Register'] {
	text-decoration: underline;
	border: 0px;
	cursor: pointer;
}