/* #register-form { */
/* margin: auto; */
/* width: var(--id-password-width); */
/* } */

label[for='email-input'],
label[for='username-input'],
label[for='password-input'] {
	display: block;
	/* padding-top: var(--padding); */
	padding-bottom: var(--padding);
}

#email-input,
#username-input,
#password-input {
	/* margin-top: var(--padding); */
	margin-bottom: var(--padding);
	/* Prevent extension past parent */
	/* box-sizing: border-box; */
	/* width: 100%; */
	width: var(--id-password-width);
	padding: var(--padding);
}

input[value='Register'] {
	display: block;
	/* margin: auto; */
	/* margin-top: var(--padding); */
	margin-bottom: var(--padding);
	padding: var(--padding);
}