#search-form {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-top: var(--padding);
	/* padding-bottom: var(--padding); */
}

#search-input {
	flex-grow: 1;
	padding: var(--padding);
}

input[value='Search'] {
	flex-grow: 0;
	padding: var(--padding);
}

#search-results>li{
	padding-bottom: var(--padding);
}