/* Minimum accessible font size guideline: 16px */

:root {
	--padding: 8px;
	--small-font-size: 16px;
	--medium-font-size: 24px;
	--large-font-size: 36px;
	--id-password-width: 200px;
	--content-panel-width: 600px;
	--nav-panel-width: 300px;
	--post-input-height: 100px;
}

* {
	margin: 0px;
	padding: 0px;
	font-size: var(--small-font-size);
	font-family: Arial;
	list-style: none;
}

header {
	padding: var(--padding);
	text-align: center;
	font-size: var(--large-font-size);
}

/* Login.js, Register.js */

#login-form,
#register-form {
	margin: auto;
	width: var(--id-password-width);
}

label[for='identifier-input'],
label[for='email-input'],
label[for='username-input'],
label[for='password-input'] {
	display: block;
	padding-top: var(--padding);
	padding-bottom: var(--padding);
}

#identifier-input,
#email-input,
#username-input,
#password-input {
	margin-top: var(--padding);
	margin-bottom: var(--padding);
	box-sizing: border-box;
	/* Prevent extension past parent */
	width: 100%;
	padding: var(--padding);
}

input[value='Log In'],
input[value='Register'] {
	display: block;
	margin: auto;
	margin-top: var(--padding);
	margin-bottom: var(--padding);
	padding: var(--padding);
}

a[href='/register'] {
	display: block;
	padding: var(--padding);
	text-align: center;
}

/* Home.js */

#app-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
}

#nav-panel {
	width: var(--nav-panel-width);
}

#nav-panel>ol>li>a {
	display: block;
	padding: var(--padding);
	font-size: var(--medium-font-size);
}

#content-panel {
	width: var(--content-panel-width);
}

/* Editor.js */

#post-form {
	margin: auto;
	width: var(--content-panel-width);
}


#post-input {
	margin-top: var(--padding);
	margin-bottom: var(--padding);
	box-sizing: border-box;
	width: 100%;
	height: var(--post-input-height);
	padding: var(--padding);
}


input[value='Post'] {
	display: block;
	margin-top: var(--padding);
	margin-bottom: var(--padding);
	margin-left: auto;
	margin-right: 0;
	padding: var(--padding);
}

/* Post.js */

.post-li {
	padding-top: var(--padding);
	padding-bottom: var(--padding);
}

.post {
	margin: auto;
	box-sizing: border-box;
	padding: var(--padding);
	width: var(--content-panel-width);
	border: 1px solid;
}

.error-message {
	padding: var(--padding);
	text-align: center;
}